<div class="container" style="margin-left: 10px; margin-top: 30px;margin-bottom: 10px;">
  <div class="col-md-3">
    <div class="input-group">
      <input type="text" class="form-control" #filter (keyup.enter)="searchRepos(filter.value)" placeholder="Search Repos" >
      <span class="input-group-text"  id="basic-addon1" (click)="searchRepos(filter.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="cursor: pointer;" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
        </svg>
      </span>
      @if (bSearching ) {
         <div><span class="spinner-border spinner-border-sm"></span></div>
       }
    </div>
  </div>
</div>

@if (isNotFound && !bSearching)   {
<div>No Repos found .</div>
}
@else {
<div class="container" style="width: 100% ; display: inline-block;">
  <app-repo-list [reposList]="arrRepoItems" [showResults]="filter.value != ''"></app-repo-list> 
</div>
}

