<div class="card box" style="width: 18rem;">
    <div class="card-body">
      <div class="row">
       <div class="col-md-4"> <img src="{{repoItem?.ownerAvatarUrl}}"  style="display: inline-block;" class="card-img-top" alt="..."></div>
       <div class="col-md-8"><h5 class="card-title truncateH" style="display: inline-block;" [title]="repoItem?.name">{{repoItem?.name}}</h5></div>
      </div>
      <div class="row"><p class="card-text truncate" [title]="repoItem?.description">{{repoItem?.description}}</p></div>
      <a href="#" class="btn btn-primary" style="margin-top: 20px;" (click)="onBookmarkClicked(repoItem?.id)">{{getBtnBookmarkText()}}</a>
    </div>
</div>


